extends base.pug

block scripts 
    script(src='/static/index.js')

block style 
    style 
        include ../static/style.css
        include ../static/contact.css

block content
    div.container
        h1 Contact Us
        form(action="/contact",method="post",class="myForm")
                input(type="text",class="myclass",name="name",placeholder="Enter your name")
                input(type="phone",class="myclass",name="phone",placeholder="Enter your phone")
                input(type="email",class="myclass",name="email",placeholder="Enter your email")
                input(type="address",class="myclass",name="address",placeholder="Enter your address")
                input(type="desc",class="myclass",name="desc",placeholder="Enter your desc")
                button(class="btn")
                    | Submit
         
