extends base.pug

block scripts 
    script(src='/static/index.js')

block style 
     style 
        include ../static/style.css

block content
    //- nav#navbar
    //-     ul 
    //-         div#logo
    //-             img(src="/static/images/logo.png")
    //-             | UDA
    //-         li #[a(href="/") Home] 
    //-         li #[a(href="/") About]
    //-         li #[a(href="/") Contact]
    //-         li #[a(href="/") Services]
    //-         li #[a(href="/") info]
    section#intro
        div Welcome to Ujjwal Dance Academy 
        div.small Eat Sleep Dance Repeat 
    
    section#mission
        h2 Our Mission 
        div.card
            h3 Dance Perfection
            div.card-box
                div.card-img
                    img(src='/static/images/1.png')

                div.card-content
                    p Best dance academy bro!
        div.card
            h3 Dancing like you want
            div.card-box
                div.card-img
                    img(src='/static/images/2.png')

                div.card-content
                    p Best dance academy bro!
        div.card
            h3 Our Teachers
            div.card-box
                div.card-img
                    img(src='/static/images/3.png')

                div.card-content
                    p Best dance academy bro!
    
    
    section#sponsor
        h2 Our Sponsors 
        div#sponsors
            img(src='/static/images/logo1.png' alt="Sponsor image!" ,class="spID")    
            img(src='/static/images/logo2.png' alt="Sponsor image!" ,class="spID")    
            img(src='/static/images/logo3.png' alt="Sponsor image!" ,class="spID")    
            img(src='/static/images/logo4.png' alt="Sponsor image!" ,class="spID")    