@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    margin: 14px 0px;
}

.myForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1{
    font-family: 'Yeon Sung', sans-serif;

}
.myclass{
    border: 2px solid;
    font-size: 15px;
    display: block;
    width: 200%;
    padding: 9px;
    margin: 14px;
    outline: none;
    border-radius: 10px
    
}
.container{
    min-height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.btn{
    padding: 13px 12px;
    font-size: 15px;
    border: 2px solid #9e5757;
    border-radius: 10px;
    color: white;
    background: red;
    cursor: pointer;
}